$pantone-meadowlark: #EAD94E;
$pantone-cherry-tomato: #EB3C27;
$pantone-little-boy-blue: #6EA2D5;
$pantone-ultra-violet: #5F4B8B;
$pantone-almost-vaue: #E7DCD9;
$pantone-blooming-dahlia: #EB9687;
$pantone-emperador: #684832;

$lead-dark: #2d2d2d;
$border-dark: #bbbbbb;

$workspace-background: $pantone-almost-vaue;
$toolbar-background: $pantone-blooming-dahlia;
$brand: $pantone-ultra-violet;
$component-wrapper-hl: rgba($pantone-little-boy-blue, 0.5);
$component-wrapper-toolbar-hl: rgba($pantone-little-boy-blue, 0.9);
$editable-border: $pantone-cherry-tomato;

$site-font: 'Work Sans', sans-serif;
